<!DOCTYPE html>
<html>
  <head>
    <title>LFGOAT- A GOAT Tribe Community Run Site</title>
    <meta name="description" content="Just a bunch of GOATs who love adaGOATs.">
    <meta property="og:title" content="LFGOAT- A GOAT Tribe Community Run Site" />
    <meta property="og:url" content="https://www.lfgoat.io" />
    <meta property="og:description" content="Just a bunch of GOATs who love adaGOATs." />
    <meta property="og:type" content="website">
    <meta content="<%= image_url('lfgoat-small.png') %>" property="og:image"/>
    <meta name="twitter:site" content="@adaGoats" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="LFGOAT- A GOAT Tribe Community Run Site" />
    <meta name="twitter:description" content="Just a bunch of GOATs who love adaGOATs." />
    <meta name="twitter:url" content="https://www.lfgoat.io" />
    <meta name="twitter:image" content="<%= image_url('lfgoat-small.png') %>" />
    <%= favicon_link_tag 'lfgoat-small.png', type: 'image/png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://unpkg.com/cbor-web'></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
